*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Roboto', sans-serif;
}
body{
    background: linear-gradient(136deg, #ceb18c 0%, #c59557 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background-color: #f1d9bfe1;
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#sub-header{
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 1440px;
    height: 4vh;
    margin: 2em 0;
}
main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
#logo img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    mix-blend-mode: multiply; 
    background-color: transparent;
}
#nav-bar{
    height: auto;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-bar button{
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;
    color: #8B4513;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#nav-bar button:hover{
    background-color: #e4bc8ca1;
}


#search{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#input{
    border: none;
    background-color: transparent;
    width: 200px;
    color: #5f2a04;
}
.search-bar{
    background-color: #e4bc8cbb;
    border-radius: 10px;
    padding: 0.4em;
}
#input::placeholder,#search-icon{
    color: #64310cb2;
}
.fa-bars, #active1024{
    display: none;
}
.fa-heart, .fa-bars, #active1024{
    color: #5f2a04;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
.fa-heart:hover,.fa-bars:hover, #active1024:hover{
    background-color: #e4bc8cda;
}

hr{
    height: 1px;
    width: 100vw;
    background-color: #8B4513;
    border: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.letter, .letterX{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f1d9bfe1;
    cursor: pointer;
    color: #8B4513;
    font-weight: bold;
    box-shadow: 0 10px 30px #0000001a;
}
.letterX{
    background-color: #f0b99250;
    color: #aa6c1ab9;
}
.letter:hover{
    background-color: #e4bc8ca1;
    box-shadow: 0 5px 30px #5a360c60;
}

#for-you{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
}
.hr-fy{
    width: 300px;
    height: 2px;
}
#fy-text{
    color: #8B4513;
}
.fy-dish{
    height: 50vh;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}
.dish{
    height: 100%;
    width: 30%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 10px 30px #0000001a;
    position: relative;
    cursor: pointer;
    border: 1px solid #8B4513;
}
.dish:hover, .dish-name:hover{
    box-shadow: 0 10px 30px #5a360c60;
    background-color: #e4bc8cf6;
}

#oriental{
    background-image: url(media/oriental.png);
}
#healthy{
    background-image: url(media/healthy.png);
}
#quick{
    background-image: url(media/quick.png);
}
.dish-name{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8B4513;
    background-color: #ecdfcd;
    color: #8B4513;
    font-weight: bold;
    border-radius: 25px 3px;
    width: 70%;
    padding: 0.5em 1em;
    font-size: 1.4rem;
    position: absolute;
    bottom: -25px;
    left: 50px;
}
.spacer{
    margin-bottom: 2em;
    background-color: #8b451385;
    width: 90vw;
}
.style{
    background-color: #f1d9bfe1;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    margin-bottom: em;
}
.style-dish{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    width: 1440px;
    height: auto;
}
.style-pic{
    border-radius: 10px;
    height: 220px;
    width: 330px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: end;
    border: 1px solid #8B4513;
}
.style-pic:hover{
    box-shadow: 0 5px 30px #5a360c60;
}
.style-title{
    color:  #8B4513;
}
.up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.hr-style{
    width: 200px;
    height: 1px;
}
.see-more, #read-more{
    height: 20px;
    padding: 1.2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #e6b989e1;
    color: #5f2a04;
    font-weight: bold;
    cursor: pointer;
}
.see-more:hover, #read-more:hover{
    background-color: #e4bc8ca1;
    box-shadow: 0 5px 30px #5a360c60;
}
.see-more i{
    margin-left: 0.4em;
}
#skillet{
    background-image: url(media/vegetarian1.png);
}
#bolognese{
    background-image: url(media/vegetarian2.jpg);
}
#falafel{
    background-image: url(media/vegetarian3.png);
}
#tacos{
    background-image: url(media/vegetarian4.png);
}
#chickpea{
    background-image: url(media/vegetarian5.png);
}
#lasagna{
    background-image: url(media/vegetarian6.png);
}
#potatoes{
    background-image: url(media/holiday1.png);
}
#gammon{
    background-image: url(media/holiday2.png);
}
#turkey{
    background-image: url(media/holiday3.png);
}
#casserole{
    background-image: url(media/holiday4.png);
}
#yule{
    background-image: url(media/holiday5.png);
}
#brussels{
    background-image: url(media/holiday6.png);
}
#shrimp{
    background-image: url(media/starter1.webp);
}
#caprese{
    background-image: url(media/starter2.jpg);
}
#spring{
    background-image: url(media/starter3.jpg);
}
#bruschetta{
    background-image: url(media/starter4.jpeg);
}
#satay{
    background-image: url(media/starter5.avif);
}  
#quichees{
    background-image: url(media/starter6.jpg);
}
#lava{
    background-image: url(media/dessert1.png);
}
#pavlova{
    background-image: url(media/dessert2.png);
}
#tiramisu{
    background-image: url(media/dessert3.png);
}
#brulee{
    background-image: url(media/dessert4.png);
}
#snowball{
    background-image: url(media/dessert5.png);
}
#pudding{
    background-image: url(media/dessert6.png);
}

.names{
    padding: 0.5em;
    font-size: 1.2rem;
    border: 1px solid #8B4513;
    background-color: #ecdfcd;
    color: #8B4513;
    border-radius: 25px 3px 25px 10px;
    border-bottom: none;
}
.names:hover{
    background-color: #e4bc8cef;
}
.other{
    background-color: #f1d9bfe1;
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    margin-bottom: 5em;
}
.other-dish{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1440px;
    height: 60%;
}
.other-pic{
    border-radius: 50%;
    border: 1px solid #8B4513;
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.other-pic:hover{
    box-shadow: 0 5px 30px #5a360c60;
}
.card{
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.other-name{
    font-size: 1rem;
    font-weight: bold;
    color: #8B4513;
}
.other-name:hover{
    text-decoration: underline;
    cursor: pointer;
}
#asian{
    background-image: url(media/asian.png);
}
#salad{
    background-image: url(media/salad.png);
}
#sauce{
    background-image: url(media/sauces.png);
}
#soup{
    background-image: url(media/soup.png);
}
#meat{
    background-image: url(media/meat.png);
}
#pasta{
    background-image: url(media/pasta.png);
}
#breakfast{
    background-image: url(media/breakfast.png);
}
.no-bg{
    background-color: transparent;
}
#art-section{
    width: 1440px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#art-title{
    color: #8B4513;
}
#articles{
    width: 90%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.art{
    border: 1px solid #8B4513;
    height: 26vh;
    width: 15%;
    background-color: #f1d9bfe1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    cursor: pointer;
}
.art:hover{
    box-shadow: 0 5px 30px #5a360c60;
}
.art-img{
    width: 100%;
    height: 50%;
}
.art-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.art p{
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: #8B4513
}
#ingredient-section{
    background-color: #f1d9bfe1;
    width: 100%;
    height: 30vh;
    margin-top: 5em;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ingr-list{
    width: 1300px;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ingr-split{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.split1{
    width: 35%;
    flex-direction: column;
}
.split2{
    width: 60%;
    flex-wrap: wrap;
}
#ingr-title, .split1 p, #vid-title{
    color: #8B4513;
    font-weight: bold;
}
.ingredient{
    height: 20px;
    padding: 1.2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #e6b989e1;
    color: #5f2a04;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}
.ingredient:hover{
    background-color: #e4bc8ca1;
    box-shadow: 0 5px 30px #5a360c60;
}
#vid-section{
    width: 100%;
    height: 75vh;
    margin-top: 5em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#vid-grid{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(6, 90px);
    gap: 0.5em;
}
.vid{
    border: 1px solid #8B4513;
    display: flex;
    align-items: end;
    padding: 0.6em;
    padding-right: 0.4em;
    cursor: pointer;
    font-weight: bold;
    background-position: center;
    background-size: cover;
    position: relative;
}

.vid p{
    background-color: #f1d9bfe1;
    text-align: center;
    width: 100%;
    padding: 1px;
    border-radius: 5px;
    color: #5f2a04;
}
#vid1{
    grid-row: 1/4;
    grid-column: 1/3;
    background-image: url(media/vid1.jpg);
}
#vid2{
    grid-row: 1/4;
    grid-column: 3/6;
    background-image: url(media/vid2.jpg);
}
#vid3{
    grid-row: 1;
    grid-column: 6/9;
    background-image: url(media/vid3.jpg);
}
#vid4{
    grid-row: 2/4;
    grid-column: 6/9;
    background-image: url(media/vid4.jpg);
}
#vid5{
    grid-row: 4;
    grid-column: 1/6;
    background-image: url(media/vid5.jpg.png);
}
#vid6{
    grid-row: 5/7;
    grid-column: 1/4;
    background-image: url(media/vid6.webp);
}
#vid7{
    grid-row: 5/7;
    grid-column: 4/6;
    background-image: url(media/vid7.jpg);
}
#vid8{
    grid-row: 4/7;
    grid-column: 6/9;
    background-image: url(media/vid8.jpg);
}
.vid:hover{
    box-shadow: 0 5px 30px #5a360c60;
    filter:brightness(0.85);
    .start{
        display: block;
    }
}
.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff7eb;
    padding: 0.5em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;    
}
.vid:hover{
    box-shadow: 0 5px 30px #5a360c60;
    filter:brightness(0.85);
    .start{
        display: flex;
    }
}
footer{
    background-color: #f1d9bfe1;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f2a04;
}
#container{
    width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    height: 30vh;
    gap: 4em;
}
.terms{
    height: 5vh;
    flex-direction: row;
    gap: 2em;
}
.terms p{
    cursor: pointer;
}
.terms p:hover{
    text-decoration: underline;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
}
.about p{
    font-weight: bold;
}
.about small{
    cursor: pointer;
}
.about small:hover{
    text-decoration: underline;
}
#socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.icon:hover{
    cursor: pointer;
}



@media(max-width:1440px){
   #sub-header{
    width: 1024px;
   } 
   #nav-bar button{
    padding: 0.7em;
   }
   #nav-bar{
    justify-content: space-evenly;
   }
   nav{
    width: 1024px;
    justify-content: space-evenly;
   }
   .letter, .letterX{
    padding: 0.7em;
   }
   .fy-dish{
    width: 1024px;
   }
   .dish-name{
    font-size: 1.2rem;
   }
   .style-dish{
    width: 1024px;
    gap: 1.5em;
   }
   .style-pic{
    width: 23%;
    height: 180px;
   }
   .names{
    font-size: 1rem;
   }
   .other-dish{
    width: 1024px;
   }
   .other-pic{
    height: 130px;
    width: 130px;
   }
   #art-section{
    width: 1024px;
   }
   #articles{
    width: 100%;
   }
   .art{
    gap: 1em;
    width: 15%;
    justify-content: space-between;
   }
   #ingr-list{
    width: 1024px;
   }
   .none1024{
    display: none;
   }
}
@media(max-width:1024px){
    #nav-bar{
        display: none;
    }
    #sub-header{
    width: 768px;
    
   }
   .fa-bars, #active1024{
    display: block;
   }
   .no1{
    display: none;
   }
   #search{
    justify-content: end;
   }
   #side-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
   }
   nav{
    width: 700px;
    height: 10vh;
    flex-wrap: wrap;
    gap: 0.6em;
   }
   .letter, .letterX{
    width: 40px;
    height: 40px;
   }
   .fy-dish{
    width: 768px;
    height: 40vh;
   }
   .dish-name{
    font-size: 1.1rem;
    width: 75%;
    bottom: -18px;
    left: 30px;
   }
   .style-dish{
    width: 768px;
    gap: 1em;
   }
   .other-dish{
    width: 768px;
   }
   .other-pic{
    height: 100px;
    width: 100px;
   }
   #art-section{
    width: 768px;
    height: 100vh;
    justify-content: space-between;
   }
   #articles{
    height: 90%;
   }
   .art{
    gap: 1em;
    width: 20%;
    justify-content: space-between;
   }
    #ingr-list{
    
    width: 768px;
    }
    .split2{
        padding: 0;
        gap: 0.3em;
    }
    .none768{
        display: none;
    }
    #vid-section{
        width: 768px;
    }
    #vid-grid{
        width: 100%;
        grid-template-columns: repeat(8,89px);
    }
    .hr-fy{
        width: 190px;
    }
}
@media(max-width:768px){
    #logo{
        margin-left: 1em;
    }
   nav{
        width: 425px;
        height: 10vh;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        flex-wrap: nowrap;
        gap: 0.6em;
        height: 4vh;
   } 
   .letter, .letterX{
        width: 30px;
        height: 30px;
        scroll-snap-align: center;
        box-shadow: none;
   }
   .fy-dish{
        width: 425px;
   }
   .dish{
        width: 48%;
   }
   #healthy{
    display: none;
   }
   .dish-name{
        font-size: 1rem;
        width: 78%;
        left: 23px;
   }
   .style-dish{
        width: 425px;
        gap: 1em;
        justify-content: center;
   }
   .style-pic{
        width: 30.5%;
   }
   .names{
        font-size: 0.9rem;
        padding-right: 0.3em;
   }
   .other{
        height: 50vh;
   }
   .other-dish{
        gap: 0.4em;
        height: 80%;
        flex-wrap: wrap;
        width: 425px;
   }
   #art-section{
        width: 100vw;
   }
   .change768{
        width: 20vw;
   }
   #articles{
        height: 90%;
        width: 425px;
   }
   .art{
        width: 30%;
   }
   .none-art{
        display: none;
   }
   .art p{
        height: 40%;
        padding: 0.5em;
    }
    #ingredient-section{
        height: 50vh;
        flex-direction: column;
    }
    #ingr-list{
        flex-direction: column;
        height: 70%;
        width: 425px;
    }
    .ingr-split{
        width: 100%;
    }
    .split1{
        height: 40%;
    }
    .none768, .none1024{
        display: flex;
    }
    #vid-section{
        height: 80vh;;
        width: 425px;
    }
    #vid-grid{
        grid-template-columns: repeat(7, 50px);
        grid-template-rows: repeat(6, 85px);
        gap: 0.5em;
        margin-bottom: 3em;
    }
    .up{
        width: 425px;
    }
    .hr-style{
        width: 13%;
    }
    #for-you{
        width: 425px;
        gap: 0em;
        text-align: center;
    }
    #fy-text{
        padding: 0em 0.5em;
    }
    .hr-fy{
        width: 20%;
    }
    .links{
        flex-wrap: wrap;
    }
}
@media(max-width:687px){
    footer{
        height: 47vh;
    }
}
@media(max-width:425px){
    .fy-dish{
        width: 320px;
        height: 60vh;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .dish{
        width: 85%;
        height: 30%;
    }
    #healthy{
        display: flex;
    }
    .dish-name{
        bottom: -10px;
    }
    .style, .other{
        height: 35vh;
    }
    .style-dish, .other-dish{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 21vh;
        gap: 0.5em;
        width: 300px;
    }
    .style-pic{
        width: 120px;
        scroll-snap-align: center;
        flex-shrink: 0;
    }
    #art-section{
        height: 120vh;
    }
    .art{
        width: 40%;
    }
    .none425{
        display: none;
    }
    #ingredient-section{
        height: 70vh;
    }
    .split2, #ingr-list, #articles{
        width: 320px;
    }
    #vid-grid{
        width: 300px;
        height: 100vh;
    }
    #vid-section{
        height: 100vh;
        width: 320px;
    }
    #vid-grid{
        grid-template-columns: repeat(3, 95px);
        grid-template-rows: repeat(7, 100px);
        gap: 0.5em;
        margin-bottom: 3em;
    }   
    #vid7, #vid8{
        display: none;
    }
    #vid1{
         grid-row: 1;
         grid-column: 1/4;
         background-image: url(media/vid1.jpg);
    }
    #vid2{
         grid-row: 3/5;
         grid-column: 1/4;
         background-image: url(media/vid2.jpg);
    }
    #vid3{
         grid-row: 2;
         grid-column: 1/4;
         background-image: url(media/vid3.jpg);
    }
    #vid4{
         grid-row: 5;
         grid-column: 1/4;
         background-image: url(media/vid4.jpg);
    }
    #vid5{
         grid-row: 6;
         grid-column: 1/4;
         background-image: url(media/vid5.jpg.png);
    }
    #vid6{
         grid-row: 7;
         grid-column: 1/4;
         background-image: url(media/vid6.webp);
    }
    nav, header{
        width: 100vw;
    }
    #for-you, .up{
        width: 320px;
        justify-content: center;
        text-align: center;
        gap: 0.5em;
        padding: 0;
    }
    #vid-title, #art-title{
        width: 150px;
    }
    #longtext{
        height: 47%;
    }
    .long{
        gap: 0.1em;
    }
    #search{
        width: 22%;
    }
}



   
 


 